@{
    ViewData["Title"] = "Créditos";
}
<div class="container">
<h1>Créditos</h1>

<img class="img-creds" src="/imagenes/Foto_creditos.png" alt="Equipo" />

<h2>Equipo de Desarrollo</h2>
<h1>Roles:</h1>
<ul class="expandido">
<li>Franco Taglioretti: Desarrollador Back-End y diseño de la pagina</p>
<li>Nicolas Wicnudel: Desarrolador Back-End</p>
<li>Eric Marasch: Desarrollador Front-End y Back-End</p>
</ul>
<div>