@{
    ViewData["Title"] = "Preguntados";
}

<div class="container text-center index">
    <img class="logo" src="~/img/Marca/LogotipoClaro.png" alt="Logo de PreguntadOrt">
    <h1 class="fs-3">PREGUNTADOS</h1>
    <p class="fs-4">Comienza a Jugar</p>
    <p><a class="btn" href='@Url.Action("ConfigurarJuego")'>Iniciar juego</a></p>
</div>
